/* ----------------------------------------
Global Colors
---------------------------------------- */
:root {
    --swatch--dark: #000000;
    --swatch--light: #ffffff;
    --core--000: #000000;
    --core--100: #1c1c1c;
    --core--200: #383838;
    --core--300: #545454;
    --core--400: #707070;
    --core--500: #8c8c8c;
    --core--600: #a8a8a8;
    --core--700: #c4c4c4;
    --core--800: #e0e0e0;
    --core--900: #ffffff;
	/* Dark Transparent Colors */
	--transparent--dark-100: var(--swatch--dark);
	--transparent--dark-090: color-mix(in srgb, var(--swatch--dark) 90%, transparent);
	--transparent--dark-080: color-mix(in srgb, var(--swatch--dark) 80%, transparent);
	--transparent--dark-070: color-mix(in srgb, var(--swatch--dark) 70%, transparent);
	--transparent--dark-060: color-mix(in srgb, var(--swatch--dark) 60%, transparent);
	--transparent--dark-050: color-mix(in srgb, var(--swatch--dark) 50%, transparent);
	--transparent--dark-040: color-mix(in srgb, var(--swatch--dark) 40%, transparent);
	--transparent--dark-030: color-mix(in srgb, var(--swatch--dark) 30%, transparent);
	--transparent--dark-020: color-mix(in srgb, var(--swatch--dark) 20%, transparent);
	--transparent--dark-010: color-mix(in srgb, var(--swatch--dark) 10%, transparent);
	--transparent--dark-008: color-mix(in srgb, var(--swatch--dark) 8%, transparent);
	--transparent--dark-005: color-mix(in srgb, var(--swatch--dark) 5%, transparent);
	--transparent--dark-000: color-mix(in srgb, var(--swatch--dark) 0%, transparent);

	/* Light Transparent Colors */
	--transparent--light-100: var(--swatch--light);
	--transparent--light-090: color-mix(in srgb, var(--swatch--light) 90%, transparent);
	--transparent--light-080: color-mix(in srgb, var(--swatch--light) 80%, transparent);
	--transparent--light-070: color-mix(in srgb, var(--swatch--light) 70%, transparent);
	--transparent--light-060: color-mix(in srgb, var(--swatch--light) 60%, transparent);
	--transparent--light-050: color-mix(in srgb, var(--swatch--light) 50%, transparent);
	--transparent--light-040: color-mix(in srgb, var(--swatch--light) 40%, transparent);
	--transparent--light-030: color-mix(in srgb, var(--swatch--light) 30%, transparent);
	--transparent--light-020: color-mix(in srgb, var(--swatch--light) 20%, transparent);
	--transparent--light-010: color-mix(in srgb, var(--swatch--light) 10%, transparent);
	--transparent--light-008: color-mix(in srgb, var(--swatch--light) 8%, transparent);
	--transparent--light-005: color-mix(in srgb, var(--swatch--light) 5%, transparent);
	--transparent--light-000: color-mix(in srgb, var(--swatch--light) 0%, transparent);
}

/* ----------------------------------------
Theme Colors
---------------------------------------- */

/* ----------------------------------------
Light Theme
---------------------------------------- */
:root,
[data-theme="light"],
[data-theme="dark"] [data-theme="invert"] {
	/* theme settings */
	--theme--background: var(--core--900);
    --theme--dot-color: var(--core--000);
	--theme--border: var(--swatch--dark-faded);

	/* text */
	--theme--text: var(--core--000);
	--theme--text-secondary: var(--core--500);

	/* icon */
	--icon--theme-filter: invert(0);

	/* Link Colors */
	--theme--text-link: var(--transparent--dark-000);
	--theme--text-link-hover: var(--transparent--dark-010);
}

/* ----------------------------------------
Dark Theme
---------------------------------------- */
[data-theme="dark"],
[data-theme="invert"],
[data-theme="light"] [data-theme="invert"] {
	/* theme settings */
	--theme--background: var(--core--000);
    --theme--dot-color: var(--core--800);
	--theme--border: var(--swatch--light-faded);

	/* text */
	--theme--text: var(--core--800);
	--theme--text-secondary: var(--core--500);

	/* icon */
	--icon--theme-filter: invert(1);

	/* Link Colors */
	--theme--text-link: var(--transparent--light-000);
	--theme--text-link-hover: var(--transparent--light-010);
}
/* ----------------------------------------
Utils
---------------------------------------- */

/* apply colors */
:is(c, :where([data-theme]:not([data-theme="inherit"]))) {
	background-color: var(--theme--background);
	color: var(--theme--text);
}